<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books page</title>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/style.css">
  <!-- Icons -->
  <script src="https://kit.fontawesome.com/b9753e102f.js" crossorigin="anonymous"></script>
</head>
<body class="books">
  <header>
    <div class="container flex jsb aic">
      <div class="flex jcc aic">
        <a href="/">Bookstore</a>
        <i class="logo fa fa-solid fa-book-open"></i>
      </div>
      <a href="/books/new">
        <button class="primary-btn">Add Book</button> 
      </a>
    </div>
  </header>
  <main>
    <h1 class="tac">List of books</h1>
    <section class="books-list section-padding">
      <div class="container">
        <ul class="all-books flex wrap">
          <% books.forEach(book => { %>
            <li>
              <h3>Title: <%= book.title %></h3>
              <p>Brief: <%= book.description.substr(0, 50) + '...' %></p>
              <p>Price: <%= book.price %></p>
              <h4>Author: <%= book.author %></h4>
              <a class="primary-btn" href="/books/<%= book._id %>">
                Show Book Details
              </a> 
            </li>
          <% }) %>
        </div>
      </div>
    </section>
  </main>
</body>
</html>